@font-face {
  font-family: Manrope;
  src: url(../assets/font/Manrope-Regular.ttf);
}
@font-face {
  font-family: Museo;
  src: url(../assets/font/MuseoModerno.ttf);
}

* {
  padding: 0;
  margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: white;
}

header {
  font-family: "Manrope";
  font-size: 1em;
  background-color: white;
}
#love,
#good {
  font-family: "Museo";
}
